{% extends 'base.html' %}

{% block styles %}
<style>
input[type=button] {
	border-radius: 0px;
    background-color: #80c1ff;
    border: none;
    color: white;
    margin-left: 10px;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    cursor: pointer;
    font-size: 20px;
}
input[type=submit] {
    width: 12%;
    border: none;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    background-color:white ;
    color: #4d79ff;
    padding: 10px 15px;
    margin: 8px 0;
    margin-left: 20px;
    cursor: pointer;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.19);
    border-radius: 0px;
}
input[type=submit]:hover {
    background-color: #b3d9ff;
}
div {
    border-radius: 0px;
    background-color:#3271e7 ;
    padding: 20px;
}
.btn-link {
      color: #178920;
      text-shadow: none;
    }
    .btn-link:hover {
      color: #000000;
    }

   
</style>

<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>




  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
  
{% endblock styles %}
{% block content %}

<!--<h1 class="cover-heading">{{ title }}</h1>
  -->
  <div class="col-sm-12" ;" style="margin-bottom: 40px;box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.19);" >
    <p style="color:white;
	font-family: sans-serif;
	font-size: 40px;
	margin-left: 100px; margin-top:80px" >Simplify your links</p>

    <div style=" padding: 0px;
    width: 60%;
    margin-left: 100px;
    display: inline-block;
    border: none;
    border-radius: 10px;
    margin-right: 20px;
    box-sizing: border-box;">
                


  <script type="text/javascript">
     const array = new Array();
var pattern = /(ftp|http|https):\/\/(\w+:{0,1}\w*@)?(\S+)(:[0-9]+)?(\/|\/([\w#!:.?+=&%@!\-\/]))?/;
function addList() {


    var url = document.getElementById("url").value;
    var http = /^https?:\/\//i;
    if (!http.test(url)) {
        url = 'http://' + url;
    }
    console.log(url);
    if(pattern.test(url)) {
        if(!array.includes(url)) {
            array.push(url);
            var list = document.getElementById("url-list");
            list.innerHTML += "<li>" + url + "</li>";
            document.getElementById("url").value="";
        }
        else{
            showError("URL ALREADY IN THE LIST!");
            setTimeout(hideError, 2000);
        }
    }
    else{
        console.log("Invalid url");
        showError("Invalid URL");
        setTimeout(hideError, 2000);
    }
}


function showError(error) {
    var notification = document.getElementById("notification ");
    notification.innerHTML=error;
    notification.style.visibility = "visible";
}
function hideError() {
    var notification = document.getElementById("notification ");
    notification.style.visibility = "hidden";
}
function sendUrls() {
    var url = document.getElementById("url").value;
    document.getElementById("url").value="";
    var list = document.getElementById("url-list").innerHTML = "";


    var http = /^https?:\/\//i;
    if (!http.test(url)) {
        url = 'http://' + url;
    }
    console.log(url);
    if(pattern.test(url)) {
        if (!array.includes(url)) {
            array.push(url);
            //Send the array

        }
    }
    if(!array.isEmpty){
        $.post("/shorten",
            {
                urls:JSON.stringify(array)
            },
            function(data, status){
                location.reload();
                alert("Data: " + data + "\nStatus: " + status);
            });
    }

}

  </script>
                <form method='POST' action='.'> 
                  <input type="text" class="form-control form-control-lg" name="url" placeholder="Your long URL here" required>
                    </div>
                <input class='' type='button' value='+' onclick="addList();" id="btnadd" >

                <input class='' type='submit' value='SHORTEN URL' >
                </form>
                <p style="color:white;
    font-family: sans-serif;
    font-size: 16px;
    margin-left: 100px; " >All URLs and click analytics are public and can be accessed by anyone</p>
            </div>







<div id="table-dis" class="container"class="pagination"style=" background-color: white">
  <table class="table table-hover table-bordered" style="box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.19);" >
    <tr style="background-color: #F5F5F5;color: #707070">
      <th id="longurl">Original URL</th>
      <th>Created</th>
      <th>Short URL</th>
      <th>All Clicks</th>
    </tr>{% for burl in bb %}
      <tr>
      <td><a href="{{ burl.url}}" target="_blank">{{ burl.url }}</td>
      <td>{{ burl.t_created}}</td>  
      <td><a href="{{ burl.shortcode}}" target="_blank">{{ burl.shortcode}}</a> </td>
      <td>{{ burl.clickevent.count }} </td>
    </tr>{% endfor %}
    <tr style="background-color: #F5F5F5;color: #707070; text-align: right;" >
      <td colspan="4"> <span class="step-links">
        {% if bb.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ bb.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ bb.number }} of {{ bb.paginator.num_pages }}.
        </span>

        {% if bb.has_next %}
            <a href="?page={{ bb.next_page_number }}">next</a>
            <a href="?page={{ bb.paginator.num_pages }}">last &raquo;</a>
        {% endif %}

    </span></td>
    </tr>


       

     
  </table>


<!--
<ul class="pagination">

{% if bb.has_previous %}
    <li><a href="?page={{ bb.previous_page_number }}"><i class="fa fa-chevron-left" aria-hidden="true"></i></a></li>
{% else %}
    <li class="disabled"><span><i class="fa fa-chevron-left" aria-hidden="true"></i></span></li>
{% endif %}

{% if bb.number|add:'-4' > 1 %}
    <li><a href="?page={{ bb.number|add:'-5' }}">&hellip;</a></li>
{% endif %}

{% for i in bb.paginator.page_range %}
    {% if bb.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
    {% elif i > bb.number|add:'-5' and i < bb.number|add:'5' %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
    {% endif %}
{% endfor %}

{% if bb.paginator.num_pages > bb.number|add:'4' %}
    <li><a href="?page={{ bb.number|add:'5' }}">&hellip;</a></li>
{% endif %}

{% if bb.has_next %}
    <li><a href="?page={{ bb.next_page_number }}"><i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
{% else %}
    <li class="disabled"><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span></li>
{% endif %}

</ul>


var list = [];

function additem(){
var noofitems = list.length;

list[noofitems] = document.getElementById("url").value;
DisplayResults();
}

function DisplayResults(){
  var n= list.length;



}

 -->
{% endblock content %}
